<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:group {"align":"full","className":"hero-wrap","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large","right":"var:preset|spacing|small","left":"var:preset|spacing|small"}}},"backgroundColor":"primary","layout":{"inherit":true,"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignfull hero-wrap has-primary-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--x-large);padding-right:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--x-large);padding-left:var(--wp--preset--spacing--small)"><!-- wp:columns {"align":"wide","className":"wow","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|x-large","left":"var:preset|spacing|large"},"margin":{"top":"0px","bottom":"0px"},"padding":{"right":"0","left":"0"}}}} -->
<div class="wp-block-columns alignwide wow" style="margin-top:0px;margin-bottom:0px;padding-right:0;padding-left:0"><!-- wp:column {"verticalAlignment":"center","width":"55%","className":"hero-wrap-text","style":{"spacing":{"padding":{"left":"0"}}}} -->
<div class="wp-block-column is-vertically-aligned-center hero-wrap-text" style="padding-left:0;flex-basis:55%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"className":"wow animate__animated animate__bounce","style":{"typography":{"fontStyle":"normal","fontWeight":"500","letterSpacing":"6px"}},"textColor":"secondary","fontSize":"medium","fontFamily":"primary"} -->
<p class="wow animate__animated animate__bounce has-secondary-color has-text-color has-primary-font-family has-medium-font-size" style="font-style:normal;font-weight:500;letter-spacing:6px">Web-Designer | UI/UX Designer</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"className":"wow animate__animated animate__fadeInLeft","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"typography":{"letterSpacing":"5px","fontSize":"5rem"},"spacing":{"padding":{"bottom":"20px"}}},"textColor":"secondary","fontFamily":"times-new-roman"} -->
<h2 class="wp-block-heading wow animate__animated animate__fadeInLeft has-secondary-color has-text-color has-link-color has-times-new-roman-font-family" style="padding-bottom:20px;font-size:5rem;letter-spacing:5px">Olá, sou <mark style="background-color:rgba(0, 0, 0, 0);color:#0057ff" class="has-inline-color">Iuna de Leon </mark></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontFamily":"monospace"} -->
<p class="has-monospace-font-family">Sou graduada em Análise de Desenvolvimento de Sistemas e faço Pós - Graduação em Design Gráfico. Durante a graduação, fiz estágio em desenvolvimento Front-End. Recentemente encerrei meu trabalho como Web-Designer, no qual adiquiri muita experiência.</p>
<!-- /wp:paragraph -->

<!-- wp:buttons -->
<div class="wp-block-buttons"><!-- wp:button {"backgroundColor":"base","textColor":"primary","width":50,"className":"is-style-fill","style":{"spacing":{"padding":{"left":"var:preset|spacing|small","right":"var:preset|spacing|small","top":"var:preset|spacing|small","bottom":"var:preset|spacing|small"}}}} -->
<div class="wp-block-button has-custom-width wp-block-button__width-50 is-style-fill"><a class="wp-block-button__link has-primary-color has-base-background-color has-text-color has-background wp-element-button" style="padding-top:var(--wp--preset--spacing--small);padding-right:var(--wp--preset--spacing--small);padding-bottom:var(--wp--preset--spacing--small);padding-left:var(--wp--preset--spacing--small)"><em>Sobre mim</em></a></div>
<!-- /wp:button --></div>
<!-- /wp:buttons --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","width":"45%","className":"is-style-default hero-wrap-image","style":{"spacing":{"blockGap":"0","padding":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-column is-vertically-aligned-top is-style-default hero-wrap-image" style="padding-top:0;padding-bottom:0;flex-basis:45%"><!-- wp:image {"lightbox":{"enabled":false},"id":20,"sizeSlug":"full","linkDestination":"none","className":"is-style-rounded-full wow animate__animated animate__slideInRight","style":{"color":[]}} -->
<figure class="wp-block-image size-full is-style-rounded-full wow animate__animated animate__slideInRight"><img src="http://localhost/wordpress/wp-content/uploads/2024/08/imagemSemFundo-1.png" alt="" class="wp-image-20"/></figure>
<!-- /wp:image --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","className":"feature-boxes is-style-default","style":{"spacing":{"margin":{"top":"0px"},"padding":{"top":"var:preset|spacing|xxx-large","bottom":"var:preset|spacing|xxx-large","right":"var:preset|spacing|medium","left":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|x-large"},"background":{"backgroundImage":{"url":"http://localhost/wordpress/wp-content/themes/wpentrepreneur/patterns/images/bg-texture.webp","id":252,"source":"file","title":"bg-skills"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull feature-boxes is-style-default" style="margin-top:0px;padding-top:var(--wp--preset--spacing--xxx-large);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--xxx-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","className":"wow animate__animated animate__bounce","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h2 class="wp-block-heading has-text-align-center wow animate__animated animate__bounce has-secondary-color has-text-color has-link-color">Algumas das minhas <mark style="background-color:rgba(0, 0, 0, 0);color:#0057ff" class="has-inline-color">Habilidades</mark><mark style="background-color:rgba(0, 0, 0, 0)" class="has-inline-color has-highlight-color-color"><br>            </mark></h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"center"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":{"top":"var:preset|spacing|large","left":"var:preset|spacing|medium"}}}} -->
<div class="wp-block-columns alignwide" style="margin-top:0px;margin-bottom:0px"><!-- wp:column {"className":"column-hover-color is-style-default wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|medium","right":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"primary"} -->
<div class="wp-block-column column-hover-color is-style-default wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"highlight-color","fontSize":"medium"} -->
<p class="has-highlight-color-color has-text-color has-medium-font-size">
                        ★</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"base"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color has-base-font-size">WordPress</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Atualmente, estou aprimorando minhas habilidades em WordPress enquanto desenvolvo meu portfólio pessoal utilizando essa ferramenta. Para aprofundar meus conhecimentos, estou cursando o "WordPress Complete Course On LocalHost" pela Udemy, onde estou aprendendo a criar e gerenciar sites de forma eficiente, aplicando os melhores padrões de design e desenvolvimento. </p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"className":"column-hover-color is-style-default wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|medium","right":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"primary"} -->
<div class="wp-block-column column-hover-color is-style-default wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"highlight-color","fontSize":"medium"} -->
<p class="has-highlight-color-color has-text-color has-medium-font-size">
                        ★</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"base"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color has-base-font-size">Figma</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Iniciei meu aprendizado em Figma durante meu estágio como desenvolvedora front-end, onde utilizei a ferramenta para colaborar na criação de interfaces e layouts. Posteriormente, aprofundei meus conhecimentos em design ao realizar cursos em plataformas como Udemy, Cursae, e Alura, expandindo minha expertise em criar designs profissionais e intuitivos.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"className":"column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|medium","right":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"primary"} -->
<div class="wp-block-column column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"highlight-color","fontSize":"medium"} -->
<p class="has-highlight-color-color has-text-color has-medium-font-size">
                        ★</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"base"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color has-base-font-size">PhotoShop</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Adquiri conhecimentos sólidos em Photoshop através de um curso na Alura, onde aprendi diversas técnicas de edição e manipulação de imagens. No entanto, foi no meu trabalho como web designer que realmente aprofundei essas habilidades, aplicando-as em projetos reais para criar visuais impactantes e de alta qualidade.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":{"top":"var:preset|spacing|large","left":"var:preset|spacing|medium"}}}} -->
<div class="wp-block-columns alignwide" style="margin-top:0px;margin-bottom:0px"><!-- wp:column {"className":"column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|medium","right":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"primary"} -->
<div class="wp-block-column column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"highlight-color","fontSize":"medium"} -->
<p class="has-highlight-color-color has-text-color has-medium-font-size">
                        ★</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"base"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color has-base-font-size"> HTML</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Desenvolvi minhas habilidades em HTML por meio de diversos cursos em diferentes plataformas, adquirindo uma compreensão sólida da linguagem. Coloquei esses conhecimentos em prática durante meu estágio e trabalho como web designer, onde criei e mantive estruturas de sites funcionais e acessíveis, alinhando o design com uma codificação eficiente.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"className":"column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|medium","right":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"primary"} -->
<div class="wp-block-column column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"highlight-color","fontSize":"medium"} -->
<p class="has-highlight-color-color has-text-color has-medium-font-size">
                        ★</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"base"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color has-base-font-size">CSS</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Assim como com HTML, adquiri conhecimento em CSS por meio de diversos cursos em diferentes plataformas. No entanto, o maior aprendizado ocorreu na prática, durante a implementação de estilos e layouts em projetos reais, onde refinei minhas habilidades e obtive experiência prática na criação de designs responsivos e atraentes.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"className":"column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|medium","right":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"primary"} -->
<div class="wp-block-column column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"highlight-color","fontSize":"medium"} -->
<p class="has-highlight-color-color has-text-color has-medium-font-size">
                        ★</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"base"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color has-base-font-size">Javascript</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Realizei diversos cursos para aprimorar minhas habilidades em JavaScript, dada a complexidade e a necessidade de um conhecimento mais aprofundado da linguagem. Utilizei JavaScript extensivamente durante meu estágio, especialmente em projetos com React, o que me permitiu desenvolver aplicações dinâmicas e interativas. Embora o uso de JavaScript não tenha sido tão prevalente em minha função como web designer, a experiência adquirida no estágio foi fundamental para fortalecer minha compreensão e aplicação da linguagem.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","className":"feature-boxes is-style-default","style":{"spacing":{"margin":{"top":"0px"},"padding":{"top":"var:preset|spacing|xxx-large","bottom":"var:preset|spacing|xxx-large","right":"var:preset|spacing|medium","left":"var:preset|spacing|medium"},"blockGap":"var:preset|spacing|x-large"},"background":{"backgroundImage":{"url":"http://localhost/wordpress/wp-content/themes/wpentrepreneur/patterns/images/bg-texture.webp","id":252,"source":"file","title":"bg-skills"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull feature-boxes is-style-default" style="margin-top:0px;padding-top:var(--wp--preset--spacing--xxx-large);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--xxx-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
<div class="wp-block-group"><!-- wp:heading {"textAlign":"center","className":"wow animate__animated animate__bounce","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h2 class="wp-block-heading has-text-align-center wow animate__animated animate__bounce has-secondary-color has-text-color has-link-color"> <mark style="background-color:rgba(0, 0, 0, 0);color:#7b2cbf" class="has-inline-color has-highlight-color-color">Experências<br>            </mark></h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"center","justifyContent":"stretch"}} -->
<div class="wp-block-group alignwide"><!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:columns {"verticalAlignment":"top","align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":{"top":"var:preset|spacing|large","left":"var:preset|spacing|medium"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-top" style="margin-top:0px;margin-bottom:0px"><!-- wp:column {"verticalAlignment":"top","className":"column-hover-color wow animate__animated animate__flipInX is-style-column-box-shadow","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|medium","right":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"primary"} -->
<div class="wp-block-column is-vertically-aligned-top column-hover-color wow animate__animated animate__flipInX is-style-column-box-shadow has-primary-background-color has-background" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"highlight-color","fontSize":"medium"} -->
<p class="has-highlight-color-color has-text-color has-medium-font-size">
                        ★</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"base"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color has-base-font-size">Valtech</h3>
<!-- /wp:heading -->

<!-- wp:paragraph -->
<p><em>1 ano e 11 meses</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Possuo ampla experiência na criação de layouts modernos e funcionais utilizando o Figma, aliada ao domínio de tecnologias como JavaScript, React, ViteJS e NextJS. Participei de diversos projetos, incluindo a criação de uma Pokédex com React e ViteJS, integrando uma API, e o desenvolvimento de aplicativos financeiros e sites de e-commerce com ReactJS e NextJS.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Fui peça-chave em um projeto corporativo, onde obtive certificação na ferramenta Crownpeak, contribuindo significativamente para o sucesso do desenvolvimento. Minha habilidade em equilibrar design e desenvolvimento tem sido essencial para criar experiências de usuário eficazes e intuitivas.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Além disso, participo ativamente de grupos de estudo focados em design, utilizando o Figma como ferramenta principal. Para conferir alguns dos meus trabalhos, visite meu GitHub: <a href="https://github.com/Iunaa">https://github.com/Iunaa</a></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:columns {"align":"wide","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":{"top":"var:preset|spacing|large","left":"var:preset|spacing|medium"}}}} -->
<div class="wp-block-columns alignwide" style="margin-top:0px;margin-bottom:0px"><!-- wp:column {"className":"column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|medium","right":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}},"border":{"width":"0px","style":"none"}},"backgroundColor":"primary"} -->
<div class="wp-block-column column-hover-color is-style-column-box-shadow wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-style:none;border-width:0px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"highlight-color","fontSize":"medium"} -->
<p class="has-highlight-color-color has-text-color has-medium-font-size">
                        ★</p>
<!-- /wp:paragraph -->

<!-- wp:heading {"level":3,"style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"base"} -->
<h3 class="wp-block-heading has-secondary-color has-text-color has-link-color has-base-font-size">Hsystem</h3>
<!-- /wp:heading -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size"><em>3 meses</em></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"fontSize":"small"} -->
<p class="has-small-font-size">Desenvolvi sites responsivos para hotéis, pousadas e hostels, utilizando uma ferramenta interna da empresa, similar ao WordPress, garantindo que os sites fossem visualmente atraentes e funcionais em qualquer dispositivo. Minha rotina incluía o tratamento de imagens no Photoshop, assegurando uma apresentação profissional e cativante. Além disso, implementei técnicas de SEO em todos os projetos, visando alcançar o melhor ranqueamento nos mecanismos de busca e aumentar a visibilidade online dos estabelecimentos.</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","className":"is-style-default","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"margin":{"top":"0"}},"background":{"backgroundImage":{"url":"http://localhost/wordpress/wp-content/themes/wpentrepreneur/patterns/images/bg-texture.webp","id":252,"source":"file","title":"bg-skills"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignfull is-style-default" style="margin-top:0;padding-top:var(--wp--preset--spacing--xx-large);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--xx-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:heading {"textAlign":"center","className":"wow animate__animated animate__bounce","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"spacing":{"padding":{"bottom":"var:preset|spacing|small"}}},"textColor":"secondary","fontFamily":"primary"} -->
<h2 class="wp-block-heading has-text-align-center wow animate__animated animate__bounce has-secondary-color has-text-color has-link-color has-primary-font-family" style="padding-bottom:var(--wp--preset--spacing--small)">Alguns <mark style="background-color:rgba(0, 0, 0, 0);color:#0057ff" class="has-inline-color">Trabalhos</mark></h2>
<!-- /wp:heading -->

<!-- wp:columns {"align":"wide","className":"wow animate__animated animate__backInUp","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|small"}}}} -->
<div class="wp-block-columns alignwide wow animate__animated animate__backInUp"><!-- wp:column {"verticalAlignment":"top","width":"100%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:100%"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-191618.png","id":21,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"className":"is-style-default wpentrepreneur-portfolio-img","style":{"dimensions":{"aspectRatio":"1"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover is-style-default wpentrepreneur-portfolio-img"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-21" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-191618.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size"><a href="#">Ganesha</a></p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-192921.png","id":25,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"className":"is-style-default wpentrepreneur-portfolio-img","style":{"dimensions":{"aspectRatio":"16/9"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover is-style-default wpentrepreneur-portfolio-img"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-25" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-192921.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">Cabana Bela da Montanha</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"100%","style":{"spacing":{"padding":{"right":"0","left":"0"},"blockGap":"var:preset|spacing|small"}}} -->
<div class="wp-block-column" style="padding-right:0;padding-left:0;flex-basis:100%"><!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"var:preset|spacing|small"}}}} -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-192542.png","id":24,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"minHeight":513,"minHeightUnit":"px","className":"wpentrepreneur-portfolio-img","style":{"color":[]}} -->
<div class="wp-block-cover wpentrepreneur-portfolio-img" style="min-height:513px"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-24" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-192542.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">Corais</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-192340.png","id":23,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"minHeight":513,"minHeightUnit":"px","className":"wpentrepreneur-portfolio-img","style":{"color":[]}} -->
<div class="wp-block-cover wpentrepreneur-portfolio-img" style="min-height:513px"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-23" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-192340.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">acasadosmestres</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"var:preset|spacing|small"}}}} -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-193330.png","id":26,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"minHeight":484,"minHeightUnit":"px","className":"wpentrepreneur-portfolio-img","style":{"color":[]}} -->
<div class="wp-block-cover wpentrepreneur-portfolio-img" style="min-height:484px"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-26" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-193330.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">Reserva Pilger</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-193922.png","id":27,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"minHeight":486,"minHeightUnit":"px","className":"wpentrepreneur-portfolio-img","style":{"color":[]}} -->
<div class="wp-block-cover wpentrepreneur-portfolio-img" style="min-height:486px"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-27" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-193922.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">BluHostel</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","className":"is-style-default","style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"},"margin":{"top":"0"}},"background":{"backgroundImage":{"url":"http://localhost/wordpress/wp-content/themes/wpentrepreneur/patterns/images/bg-texture.webp","id":252,"source":"file","title":"bg-skills"}}},"layout":{"type":"constrained","justifyContent":"center"}} -->
<div class="wp-block-group alignfull is-style-default" style="margin-top:0;padding-top:var(--wp--preset--spacing--xx-large);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--xx-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:heading {"textAlign":"center","className":"wow animate__animated animate__bounce","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}},"spacing":{"padding":{"bottom":"var:preset|spacing|small"}}},"textColor":"secondary","fontFamily":"primary"} -->
<h2 class="wp-block-heading has-text-align-center wow animate__animated animate__bounce has-secondary-color has-text-color has-link-color has-primary-font-family" style="padding-bottom:var(--wp--preset--spacing--small)">Alguns <mark style="background-color:rgba(0, 0, 0, 0);color:#0057ff" class="has-inline-color">Trabalhos</mark></h2>
<!-- /wp:heading -->

<!-- wp:columns {"align":"wide","className":"wow animate__animated animate__backInUp","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|small"}}}} -->
<div class="wp-block-columns alignwide wow animate__animated animate__backInUp"><!-- wp:column {"verticalAlignment":"top","width":"100%","style":{"spacing":{"blockGap":"var:preset|spacing|small"}}} -->
<div class="wp-block-column is-vertically-aligned-top" style="flex-basis:100%"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-200851.png","id":29,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"isDark":false,"className":"is-style-default wpentrepreneur-portfolio-img","style":{"dimensions":{"aspectRatio":"1"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover is-light is-style-default wpentrepreneur-portfolio-img"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-29" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-200851.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">PinkBox</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-203112.png","id":34,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"className":"is-style-default wpentrepreneur-portfolio-img","style":{"dimensions":{"aspectRatio":"16/9"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover is-style-default wpentrepreneur-portfolio-img"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-34" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-203112.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">Aplicativo ChefOnline</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover -->

<!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-202055.png","id":31,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"className":"is-style-default wpentrepreneur-portfolio-img","style":{"dimensions":{"aspectRatio":"16/9"}},"layout":{"type":"default"}} -->
<div class="wp-block-cover is-style-default wpentrepreneur-portfolio-img"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-31" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-202055.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">Aplicativo ChefOnline</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column {"width":"100%","style":{"spacing":{"padding":{"right":"0","left":"0"},"blockGap":"var:preset|spacing|small"}}} -->
<div class="wp-block-column" style="padding-right:0;padding-left:0;flex-basis:100%"><!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"var:preset|spacing|small"}}}} -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-202420.png","id":32,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"minHeight":520,"minHeightUnit":"px","className":"wpentrepreneur-portfolio-img","style":{"color":[]}} -->
<div class="wp-block-cover wpentrepreneur-portfolio-img" style="min-height:520px"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-32" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-202420.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">Dev Portfolio</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-203301-1.png","id":36,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"minHeight":518,"minHeightUnit":"px","isDark":false,"className":"wpentrepreneur-portfolio-img","style":{"color":[]}} -->
<div class="wp-block-cover is-light wpentrepreneur-portfolio-img" style="min-height:518px"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-36" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-203301-1.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">exemplo natureza Figma</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:columns {"style":{"spacing":{"blockGap":{"left":"var:preset|spacing|small"}}}} -->
<div class="wp-block-columns"><!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-201738.png","id":30,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"minHeight":664,"minHeightUnit":"px","className":"wpentrepreneur-portfolio-img","style":{"color":[]}} -->
<div class="wp-block-cover wpentrepreneur-portfolio-img" style="min-height:664px"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-30" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-201738.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">Inuyasha</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column -->

<!-- wp:column -->
<div class="wp-block-column"><!-- wp:cover {"url":"http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-202730-1.png","id":37,"dimRatio":50,"overlayColor":"dark-grey-color","isUserOverlayColor":true,"minHeight":663,"minHeightUnit":"px","className":"wpentrepreneur-portfolio-img","style":{"color":[]}} -->
<div class="wp-block-cover wpentrepreneur-portfolio-img" style="min-height:663px"><span aria-hidden="true" class="wp-block-cover__background has-dark-grey-color-background-color has-background-dim"></span><img class="wp-block-cover__image-background wp-image-37" alt="" src="http://localhost/wordpress/wp-content/uploads/2024/08/Screenshot-2024-08-21-202730-1.png" data-object-fit="cover"/><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","className":"wpentrepreneur-portfolio-name","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","fontSize":"large"} -->
<p class="has-text-align-center wpentrepreneur-portfolio-name has-secondary-color has-text-color has-link-color has-large-font-size">

                                Title</p>
<!-- /wp:paragraph --></div></div>
<!-- /wp:cover --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large"}}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-primary-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:columns {"align":"wide","className":"wow animate__animated animate__backInDown","style":{"spacing":{"blockGap":{"top":"0","left":"30px"}}}} -->
<div class="wp-block-columns alignwide wow animate__animated animate__backInDown"><!-- wp:column {"width":"70%"} -->
<div class="wp-block-column" style="flex-basis:70%"></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center","width":"30%","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}}} -->
<div class="wp-block-column is-vertically-aligned-center" style="padding-top:0;padding-bottom:0;flex-basis:30%"><!-- wp:columns {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"blockGap":{"top":"0"}}}} -->
<div class="wp-block-columns" style="margin-top:0;margin-bottom:0"><!-- wp:column {"width":"100%","layout":{"type":"default"}} -->
<div class="wp-block-column" style="flex-basis:100%"></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"metadata":{"categories":["wpentrepreneur/testimonials"],"patternName":"testimonials","name":"Testimonials"},"align":"full","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"top":"var:preset|spacing|xxx-large","bottom":"var:preset|spacing|xxx-large","right":"var:preset|spacing|medium","left":"var:preset|spacing|medium"}},"background":{"backgroundImage":{"url":"http://localhost/wordpress/wp-content/themes/wpentrepreneur/patterns/images/bg-texture.webp","id":252,"source":"file","title":"bg-skills"}}},"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--xxx-large);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--xxx-large);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:group {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|x-large"},"blockGap":"var:preset|spacing|small"}}} -->
<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:heading {"textAlign":"center","className":"wow animate__animated animate__bounce","textColor":"base"} -->
<h2 class="wp-block-heading has-text-align-center wow animate__animated animate__bounce has-base-color has-text-color">Formação Acadêmica</h2>
<!-- /wp:heading --></div>
<!-- /wp:group -->

<!-- wp:columns {"verticalAlignment":"center","align":"wide","style":{"spacing":{"blockGap":{"top":"var:preset|spacing|x-large","left":"var:preset|spacing|x-large"},"margin":{"top":"0px","bottom":"0px"}}}} -->
<div class="wp-block-columns alignwide are-vertically-aligned-center" style="margin-top:0px;margin-bottom:0px"><!-- wp:column {"verticalAlignment":"center","className":"wow animate__animated animate__flipInX"} -->
<div class="wp-block-column is-vertically-aligned-center wow animate__animated animate__flipInX"><!-- wp:group {"className":"wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|large","right":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|large"}},"border":{"radius":"5px"}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
<div class="wp-block-group wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-radius:5px;padding-top:var(--wp--preset--spacing--large);padding-right:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--large)"><!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"secondary","fontSize":"small"} -->
<p class="has-secondary-color has-text-color has-small-font-size">Unicesumar</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>Completo</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:separator {"className":"is-style-separator-dotted","style":{"spacing":{"margin":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-separator-dotted" style="margin-top:var(--wp--preset--spacing--medium);margin-bottom:var(--wp--preset--spacing--medium)"/>
<!-- /wp:separator -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Graduação em Análise de desenvolvimento de Sistemas</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"center"} -->
<div class="wp-block-column is-vertically-aligned-center"><!-- wp:group {"className":"wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|large","right":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|large"}},"border":{"radius":"5px"}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
<div class="wp-block-group wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-radius:5px;padding-top:var(--wp--preset--spacing--large);padding-right:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--large)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small","margin":{"top":"var:preset|spacing|large"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--large)"><!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"secondary","fontSize":"small"} -->
<p class="has-secondary-color has-text-color has-small-font-size">Universidade Federal do Rio Grande FURG</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Completo</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:separator {"className":"is-style-separator-dotted","style":{"spacing":{"margin":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-separator-dotted" style="margin-top:var(--wp--preset--spacing--medium);margin-bottom:var(--wp--preset--spacing--medium)"/>
<!-- /wp:separator -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Graduação em Física Bacharelado e Licenciatura</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"className":"wow animate__animated animate__flipInX","style":{"spacing":{"blockGap":"var:preset|spacing|medium","padding":{"top":"var:preset|spacing|large","right":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|large"}},"border":{"radius":"5px"}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
<div class="wp-block-group wow animate__animated animate__flipInX has-primary-background-color has-background" style="border-radius:5px;padding-top:var(--wp--preset--spacing--large);padding-right:var(--wp--preset--spacing--large);padding-bottom:var(--wp--preset--spacing--large);padding-left:var(--wp--preset--spacing--large)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small","margin":{"top":"var:preset|spacing|large"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--large)"><!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"layout":{"type":"flex","orientation":"vertical"}} -->
<div class="wp-block-group"><!-- wp:paragraph {"textColor":"secondary","fontSize":"small"} -->
<p class="has-secondary-color has-text-color has-small-font-size">Anhanguera</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p><em>em andamento</em></p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:separator {"className":"is-style-separator-dotted","style":{"spacing":{"margin":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium"}}}} -->
<hr class="wp-block-separator has-alpha-channel-opacity is-style-separator-dotted" style="margin-top:var(--wp--preset--spacing--medium);margin-bottom:var(--wp--preset--spacing--medium)"/>
<!-- /wp:separator -->

<!-- wp:paragraph {"fontSize":"medium"} -->
<p class="has-medium-font-size">Pós - Graduação em Design Gráfico</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group -->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large","left":"0","right":"0"},"margin":{"top":"0px","bottom":"0px"}}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-primary-background-color has-background" style="margin-top:0px;margin-bottom:0px;padding-top:var(--wp--preset--spacing--x-large);padding-right:0;padding-bottom:var(--wp--preset--spacing--x-large);padding-left:0"><!-- wp:heading {"textAlign":"center","className":"wow animate__animated animate__bounce","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary"} -->
<h2 class="wp-block-heading has-text-align-center wow animate__animated animate__bounce has-secondary-color has-text-color has-link-color">Entre em Contato</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">Github: <a href="https://github.com/Iunaa">https://github.com/Iunaa</a></p>
<!-- /wp:paragraph -->

<!-- wp:social-links {"size":"has-large-icon-size","align":"center","className":"wow animate__animated animate__jackInTheBox"} -->
<ul class="wp-block-social-links aligncenter has-large-icon-size wow animate__animated animate__jackInTheBox"><!-- wp:social-link {"url":"https://www.linkedin.com/in/iuna-de-leon-8519b2221/","service":"linkedin"} /-->

<!-- wp:social-link {"url":"yuna.furg@gmail.com","service":"google"} /--></ul>
<!-- /wp:social-links --></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->